additional-exercise-files/exercise-3/schema2.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="guestbook">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="greeting" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:long"/>
						<xs:element name="guestbookName" type="xs:string"/>
						<xs:element name="content" type="xs:string"/>
						<xs:element name="date" type="xs:dateTime"/>
						<xs:element name="authorId" type="xs:string"/>
						<xs:element name="authorEmail" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:element>

</xs:schema>