additional-exercise-files/exercise-3/schema1.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="greeting">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="guestbookName" type="xs:string"/>
      <xs:element name="content" type="xs:string"/>
      <xs:element name="userEmail" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>